{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Banner start -->
<div class="banner" id="banner">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-inner banner-slider-inner text-center">
      <div class="carousel-item banner-max-height active item-bg">
        <img
          class="d-block w-100 h-100"
          src="{% static 'img/blueberries.jpg' %}"
          alt="banner"
        />
        <div class="carousel-content container banner-info-2 bi-2 text-left">
          <h3>Global Fusion</h3>
          <h5>
            Explore the magic of common ingredients that transcend borders,<br />uniting
            kitchens in a celebration of global sweetness.
          </h5>
          <a href="{% url 'ingredients' %}" class="btn btn-lg btn-theme"
            >Read more</a
          >
        </div>
      </div>
      <div class="carousel-item banner-max-height item-bg">
        <img
          class="d-block w-100 h-100"
          src="{%static 'img/coconut.jpg' %}"
          alt="banner"
        />
        <div class="carousel-content container banner-info-2 bi-2 text-left">
          <h3>Cultural Bites</h3>
          <h5>
            Savor the fusion of flavors as we discover how common ingredients
            <br />
            create unique and delectable desserts worldwide.
          </h5>
          <a href="{% url 'ingredients' %}" class="btn btn-lg btn-theme"
            >Read more</a
          >
        </div>
      </div>
      <div class="carousel-item banner-max-height item-bg">
        <img
          class="d-block w-100 h-100"
          src="{% static 'img/anise.jpg' %}"
          alt="banner"
        />
        <div class="carousel-content container banner-info-2 bi-2 text-left">
          <h3>Sweet Mosaic</h3>
          <h5>
            Uncover the diverse and delightful world of desserts as we traverse
            through <br />the flavors, ingredients, and stories that connect
            cultures worldwide.
          </h5>
          <a href="{% url 'ingredients' %}" class="btn btn-lg btn-theme"
            >Read more</a
          >
        </div>
      </div>
    </div>
    <!-- Search box 3 start -->
    <div class="search-box-4 sb-8">
      <form action="{% url 'search' %}" method="">
        <div class="form-group">
          <input
            type="text"
            name="keyword"
            placeholder="Search by name"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <select class="form-control search-fields" name="category">
            <option value = "true" disabled selected>Category</option>
            {% for category in category_search %}
              <option value = "{{category}}">{{category}}</option>
            {% endfor %}

          </select>
        </div>
        <div class="form-group">
          <select class="form-control search-fields" name="locale_name_search">
            <option selected="" disabled="disabled" selected="true">Locale</option>
            {% for locale in locale_name_search %}
              <option value ="{{locale}}">{{locale}}</option>
            {% endfor %}

          </select>
        </div>


        <div class="form-group">
          <button class="btn btn-block button-theme btn-md">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </form>
    </div>
    <!-- Search box 3 end -->
    <a
      class="carousel-control-prev none-580"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="slider-mover-left" aria-hidden="true">
        <i class="fa fa-angle-left"></i>
      </span>
    </a>
    <a
      class="carousel-control-next none-580"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="slider-mover-right" aria-hidden="true">
        <i class="fa fa-angle-right"></i>
      </span>
    </a>
  </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1>Featured <span>Desserts</span></h1>
      <p>Indulge in Culinary Delights: Featured Desserts That Ignite the Senses</p>
    </div>
    <!-- Slick slider area start -->
    <div class="slick-slider-area clearfix">
      <div
        class="row slick-carousel"
        data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'
      >
        {% for dessert in featured_desserts %}
        <div class="slick-slide-item">
          <div class="car-box-3">
            <div class="car-thumbnail">
              <a href="{% url 'dessert_detail' dessert.id %}" class="car-img">

                <img
                  class="d-block w-100"
                  src="{{dessert.dessert_photo.url}}"
                  alt="dessert-photo"
                  style="min-height: 262px; max-height: 262px"
                />
              </a>
              <div class="carbox-overlap-wrapper">
                <div class="overlap-box">
                  <div class="overlap-btns-area">
                    <div class="car-magnify-gallery">
                      <a
                        href="{{ dessert.dessert_photo.url}}"
                        class="overlap-btn">

                        <i class="fa fa-expand"></i>
                        <img class="hidden" src="{{dessert.dessert_photo.url}}"
                        style="min-height:262px; "
                        />
                      </a>
                      {% if dessert.dessert_photo_2 %}
                      <a href="{{dessert.dessert_photo_2.url}}" class="hidden">
                        <img class="hidden" src="{{dessert.dessert_photo_2.url}}"
                        style="min-height: 262px;" />
                      </a>
                      {% endif %}
                      {% if dessert.dessert_photo_3 %}
                      <a href="{{dessert.dessert_photo_3.url}}" class="hidden">
                        <img class="hidden" src="{{dessert.dessert_photo_3.url}}" style="min-height:262px;" />
                      </a>
                      {% endif %}
                      {% if dessert.dessert_photo_4 %}
                      <a href="{{dessert.dessert_photo_4.url}}" class="hidden">
                        <img class="hidden" src="{{dessert.dessert_photo_4.url}}"style="min-height:262px;" />
                      </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail">
              <h1 class="title">
                <a href="{% url 'dessert_detail' dessert.id  %}">{{dessert.dessert_name}}</a>
              </h1>
              <div class="location">
                <a href="{% url 'dessert_detail' dessert.id  %}">
                  <i class="flaticon-pin"></i>{{ dessert.locale_name.all|join:", " }}
                </a>
              </div>
              <ul class="facilities-list clearfix">

                {% for ingredient in dessert.featured_ingredient.all %}
                <li>{{ ingredient.name }}</li>
                {% endfor %}

            </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="slick-btn">
        <div class="slick-prev slick-arrow-buton sab-4">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="slick-next slick-arrow-buton sab-3">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featured car end -->

<!-- Latest Desserts start -->
<div class="featured-car content-area">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1>Latest <span>Dessert Theme</span></h1>
      <p>Fried dough, a universally beloved treat, transcends cultural boundaries and is cherished in various forms across the globe.</p>
    </div>

    <div class="row">
      <!-- Loop through featured desserts -->
      {% for dessert in fried_dough_desserts %}
  <div class="col-lg-4 col-md-6">
    <div class="car-box">
      <!-- This wrapping anchor tag makes the entire section clickable -->
      <a href="{% url 'dessert_detail' dessert.id %}">
        <div class="car-thumbnail">
          <img
            class="d-block w-100"
            src="{{ dessert.dessert_photo.url }}"
            style="min-height: 262px; max-height: 262px"
            alt="{{ dessert.dessert_name }}"
          />
        </div>
        <div class="detail">
          <h1 class="title">{{ dessert.dessert_name }}</h1>
          <div class="location">
            <i class="flaticon-pin"></i>
            {{ dessert.locale_name.all|join:", " }}
          </div>
        </div>
      </a> <!-- End of anchor tag -->
    </div>
  </div>
{% endfor %}

    </div>
  </div>
</div>
<!-- Latest Desserts end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1>Featured <span>Chefs</span></h1>
      <p>Crafting Sweet Dreams: Meet Our Team of Culinary Artisans</p>
    </div>
    <!-- Slick slider area start -->
    <div class="slick-slider-area clearfix">
      <div
        class="row slick-carousel"
        data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'
      >
        {% for chef in chefs %}
        <div class="slick-slide-item">
          <div class="team-1">
            <div class="photo">
              <a href="#">
                <img src="{{chef.photo.url}}" alt="team-1" class="img-fluid" />
              </a>
            </div>
            <div class="details">
              <h4><a href="team-detail.html">{{chef.full_name}}</a></h4>
              <h5>{{chef.title }}</h5>
              <p>{{chef.locale}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="intro-text">
          <h3>Do You Have Questions ?</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="contact.html" class="btn btn-md">Get in Touch</a>
      </div>
    </div>
  </div>
</div>
<!-- Intro section end -->



<!-- Car Overview Modal -->
<div class="car-model-2">
  <div
    class="modal fade"
    id="carOverviewModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="carOverviewModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="carOverviewModalLabel">
            <h4>Explore Your Dream Car</h4>
            <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
          </div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row modal-raw">
            <div class="col-lg-6 modal-left">
              <div class="item active">
                <img
                  src="img/car-13.jpg"
                  alt="best-car"
                  class="img-fluid modalLabel-1"
                />
                <img
                  src="img/car-14.jpg"
                  alt="best-car"
                  class="img-fluid modalLabel-2"
                />
                <div class="sobuz">
                  <div class="price-box" style="padding-bottom: 5px">
                    <span class="del-2">$1050.00</span>
                  </div>
                  <div class="">
                    <a
                      href="car-details.html"
                      class="btn btn-md btn-round btn-theme"
                      >Convertible</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 modal-right">
              <div class="modal-right-content">
                <section>
                  <h3>Features</h3>
                  <div class="features">
                    <ul class="bullets">
                      <li>Cruise Control</li>
                      <li>Airbags</li>
                      <li>Air Conditioning</li>
                      <li>Alarm System</li>
                      <li>Audio Interface</li>
                      <li>CDR Audio</li>
                      <li>Seat Heating</li>
                      <li>ParkAssist</li>
                    </ul>
                  </div>
                </section>
                <section>
                  <h3>Overview</h3>
                  <ul class="bullets">
                    <li>Model</li>
                    <li>Year</li>
                    <li>Condition</li>
                    <li>Price</li>
                    <li>Audi</li>
                    <li>2020</li>
                    <li>Brand New</li>
                    <li>$178,000</li>
                  </ul>
                </section>
                <div class="description">
                  <h3>Description</h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard.
                  </p>
                  <a
                    href="car-details.html"
                    class="btn btn-md btn-round btn-theme"
                    >Show Detail</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
